<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="maven suite">
  <test name="maven project" preserve-order="true">
    <classes>
      <class name="package1.class1"/>
      <class name="package1.class2"/>
     </classes>
    </test>
  </suite>